aesio-p-api-agent-ex/src/main/mule/p-api-agent-ex.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="api-specification-template-2-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Copy_of_Set Application Context" doc:id="1d0be39b-5911-4ae7-ace6-b573e4530c2e" name="application-context-sub-flow" />
		<flow-ref doc:name="Copy_of_Process Initiation Sub Flow" doc:id="afa9fda8-1043-4e1d-a0cd-edfd5062fd36" name="process-initiation-sub-flow" />
		<apikit:router config-ref="api-specification-template-config" />
		<flow-ref doc:name="Copy_of_Process Completion Sub Flow" doc:id="5e8063a6-ee53-4e09-9bff-e23b7c0733dc" name="process-completion-sub-flow" />
		<error-handler ref="common-error-handler" />
    </flow>
    <flow name="get:\health-check:api-specification-template-2-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "ok"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\agent\(id):api-specification-template-2-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  header: {
    apiName: "p-api-agent",
    apiVersion: "v1.0",
    "correlation-id": "6e560258-4e55-4839-b7d9-29c80f12263d"
  },
  data: {},
  error: {
    description: "format d'e-mail invalide",
    code: "400",
    timestamp: "2020-06-15T15:13:10"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\agent\rechercher-par-email:application\json:api-specification-template-2-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  header: {
    apiName: "p-api-agent",
    apiVersion: "v1.0",
    "correlation-id": "6e560258-4e55-4839-b7d9-29c80f12263d"
  },
  data: {},
  error: {
    description: "format d'e-mail invalide",
    code: "400",
    timestamp: "2020-06-15T15:13:10"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\agent\rechercher-par-nom:application\json:api-specification-template-2-config">
		<flow-ref doc:name="Flow Reference" doc:id="917cce91-4853-4973-8b13-4b6b8a45d688" name="rechercher-par-nom" />
    </flow>
</mule>
